# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import pprint
import time
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Loan CSV file generated from WeatherPy Folder
weather_data_csv = "../WeatherPy/output_data/output_weather_data_file.csv"
weather_data_df = pd.read_csv(weather_data_csv)
weather_data_df.count()

Unnamed: 0         563
city name          563
country            561
city id            563
latitude_deg       563
longitude_deg      563
temp_max_F         563
humidity_%         563
cloudiness_%       563
winds speed_mph    563
dtype: int64

In [3]:
weather_data_df

,Unnamed: 0,city name,country,city id,latitude_deg,longitude_deg,temp_max_F,humidity_%,cloudiness_%,winds speed_mph
0,0,Yellowknife,CA,6185377,62.46,-114.35,1.99,84,75,3.36
1,1,Cabo San Lucas,MX,3985710,22.89,-109.91,89.01,58,5,3.36
2,2,Ushuaia,AR,3833367,-54.80,-68.30,64.40,36,0,5.82
3,3,Hilo,US,5855927,19.73,-155.09,80.60,74,90,5.82
4,4,Marti,CU,3547519,22.95,-80.92,77.00,94,75,17.22
...,...,...,...,...,...,...,...,...,...,...
558,558,Galich,RU,562161,58.38,42.35,43.61,91,100,8.32
559,559,Manga,BF,2358100,11.66,-1.07,83.86,30,20,2.71
560,560,Pringsewu,ID,1630639,-5.36,104.97,74.28,91,100,2.42
561,561,Darhan,MN,2031964,49.49,105.92,28.40,97,100,5.59
562,562,Kamenka,RU,553766,51.32,42.77,39.00,95,75,6.67

In [4]:
weather_data_df.rename(columns={'city name':'city_name','temp_max_F':'max_temp_F','humidity_%':'humidity_perc','cloudiness_%':'cloudiness_perc'},inplace=True)

In [5]:
del weather_data_df["Unnamed: 0"]
weather_data_df

,city_name,country,city id,latitude_deg,longitude_deg,max_temp_F,humidity_perc,cloudiness_perc,winds speed_mph
0,Yellowknife,CA,6185377,62.46,-114.35,1.99,84,75,3.36
1,Cabo San Lucas,MX,3985710,22.89,-109.91,89.01,58,5,3.36
2,Ushuaia,AR,3833367,-54.80,-68.30,64.40,36,0,5.82
3,Hilo,US,5855927,19.73,-155.09,80.60,74,90,5.82
4,Marti,CU,3547519,22.95,-80.92,77.00,94,75,17.22
...,...,...,...,...,...,...,...,...,...
558,Galich,RU,562161,58.38,42.35,43.61,91,100,8.32
559,Manga,BF,2358100,11.66,-1.07,83.86,30,20,2.71
560,Pringsewu,ID,1630639,-5.36,104.97,74.28,91,100,2.42
561,Darhan,MN,2031964,49.49,105.92,28.40,97,100,5.59
562,Kamenka,RU,553766,51.32,42.77,39.00,95,75,6.67

In [6]:
weather_data_df.shape

(563, 9)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
#gmaps.configure(api_key="Your Key2")

In [8]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Locations
locations = weather_data_df[["latitude_deg", "longitude_deg"]]

## Convert humidity to float and store.  we will use it for wt.
humidity = weather_data_df["humidity_perc"].astype(float)

#Plot map
humidity_heatmap = gmaps.figure()

In [9]:

# Create humidity heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=2)
# Add humidity heat layer to map
humidity_heatmap.add_layer(heat_layer)

humidity_heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#cities with perfect temperature, 65F to 80F
not_too_cold = weather_data_df[weather_data_df.max_temp_F>65]
perfect_temp = not_too_cold[not_too_cold.max_temp_F<85]

#cities with perfect temperature, 65F to 80F and perfect humidity, 45%-60%
not_too_dry = perfect_temp[perfect_temp.humidity_perc>45]
perfect_humidity = not_too_dry[not_too_dry.humidity_perc<60]

#cities with clear sky, cloudiness % <10
perfect_cities = perfect_humidity[perfect_humidity.cloudiness_perc<10]
perfect_cities=perfect_cities.reset_index(drop=True)
perfect_cities

,city_name,country,city id,latitude_deg,longitude_deg,max_temp_F,humidity_perc,cloudiness_perc,winds speed_mph
0,Pacific Grove,US,5380437,36.62,-121.92,66.99,59,1,3.36
1,Lompoc,US,5367788,34.64,-120.46,75.20,49,1,6.93
2,Mar Del Plata,AR,3430863,-38.00,-57.56,69.80,49,0,19.46
3,Sur,OM,286245,22.57,59.53,71.53,50,0,6.49
4,Deori,IN,1273201,21.45,82.62,66.94,55,0,2.57
5,Alice Springs,AU,2077895,-23.70,133.88,71.60,46,0,8.05
6,Raga,SS,368246,8.46,25.68,77.07,48,0,3.38
7,Maun,BW,933366,-19.98,23.42,78.80,50,0,3.36
8,Yulara,AU,6355222,-25.24,130.99,71.60,49,1,13.87
9,Una,IN,1253783,20.82,71.03,78.17,46,0,5.75
10,Veraval,IN,1253237,20.90,70.37,80.01,58,0,3.56

In [11]:
# added by KK
# retrieve the lat item for specified city
perfect_cities.set_index('city_name')
#lat = perfect_cities[perfect_cities["city_name"] == "Pacific Grove"]["latitude_deg"][0]
#lat

,country,city id,latitude_deg,longitude_deg,max_temp_F,humidity_perc,cloudiness_perc,winds speed_mph
city_name,,,,,,,,
Pacific Grove,US,5380437,36.62,-121.92,66.99,59,1,3.36
Lompoc,US,5367788,34.64,-120.46,75.20,49,1,6.93
Mar Del Plata,AR,3430863,-38.00,-57.56,69.80,49,0,19.46
Sur,OM,286245,22.57,59.53,71.53,50,0,6.49
Deori,IN,1273201,21.45,82.62,66.94,55,0,2.57
Alice Springs,AU,2077895,-23.70,133.88,71.60,46,0,8.05
Raga,SS,368246,8.46,25.68,77.07,48,0,3.38
Maun,BW,933366,-19.98,23.42,78.80,50,0,3.36
Yulara,AU,6355222,-25.24,130.99,71.60,49,1,13.87
Una,IN,1253783,20.82,71.03,78.17,46,0,5.75
Veraval,IN,1253237,20.90,70.37,80.01,58,0,3.56

In [12]:
perfect_cities["latitude_deg"]

0     36.62
1     34.64
2    -38.00
3     22.57
4     21.45
5    -23.70
6      8.46
7    -19.98
8    -25.24
9     20.82
10    20.90
Name: latitude_deg, dtype: float64

In [13]:
perfect_cities["longitude_deg"]

0    -121.92
1    -120.46
2     -57.56
3      59.53
4      82.62
5     133.88
6      25.68
7      23.42
8     130.99
9      71.03
10     70.37
Name: longitude_deg, dtype: float64

In [14]:
perfect_cities_locations = perfect_cities[["latitude_deg", "longitude_deg"]]
perfect_cities_humidity = perfect_cities["humidity_perc"].astype(float)

# Plot Heatmap
perfect_cities_map = gmaps.figure()

# Create heat layer
perfect_cities_heat_layer = gmaps.heatmap_layer(perfect_cities_locations, weights=perfect_cities_humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=2.5)

# Add layer
perfect_cities_map.add_layer(perfect_cities_heat_layer)

# Display figure
perfect_cities_map

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
perfect_cities["Nearest Hotel"] = ""
#perfect_cities=perfect_cities.reset_index()

In [16]:
perfect_cities

,city_name,country,city id,latitude_deg,longitude_deg,max_temp_F,humidity_perc,cloudiness_perc,winds speed_mph,Nearest Hotel
0,Pacific Grove,US,5380437,36.62,-121.92,66.99,59,1,3.36,
1,Lompoc,US,5367788,34.64,-120.46,75.20,49,1,6.93,
2,Mar Del Plata,AR,3430863,-38.00,-57.56,69.80,49,0,19.46,
3,Sur,OM,286245,22.57,59.53,71.53,50,0,6.49,
4,Deori,IN,1273201,21.45,82.62,66.94,55,0,2.57,
5,Alice Springs,AU,2077895,-23.70,133.88,71.60,46,0,8.05,
6,Raga,SS,368246,8.46,25.68,77.07,48,0,3.38,
7,Maun,BW,933366,-19.98,23.42,78.80,50,0,3.36,
8,Yulara,AU,6355222,-25.24,130.99,71.60,49,1,13.87,
9,Una,IN,1253783,20.82,71.03,78.17,46,0,5.75,
10,Veraval,IN,1253237,20.90,70.37,80.01,58,0,3.56,

In [27]:
hotels = []
for ind,row in perfect_cities.iterrows():
    lat = row["latitude_deg"]
    long = row["longitude_deg"]
    target_lat_long = f"{lat},{long}"
    target_type = "lodging"
    radius = 5000
    params = {"location":target_lat_long ,
             "type":target_type ,
             "radius":radius ,
             "key":g_key}
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels_request_response = requests.get(base_url,params=params).json()
    
    try:
       # hotel.append(hotel_request_response["Nearest Hotel"])
         #perfect_cities.loc[index, 'Nearest Hotel'] = hotels_request_response["results"][0]["name"]
        hotels.append(hotels_request_response["results"][0]["name"])
    except:
        hotels.append("Nearest hotel not found")
        
#Dataframe with nearest hotel

perfect_cities     
#hotels_request_response

,city_name,country,city id,latitude_deg,longitude_deg,max_temp_F,humidity_perc,cloudiness_perc,winds speed_mph,Nearest Hotel,Nearest Hotels
0,Pacific Grove,US,5380437,36.62,-121.92,66.99,59,1,3.36,,Lovers Point Inn
1,Lompoc,US,5367788,34.64,-120.46,75.20,49,1,6.93,,Holiday Inn Express Lompoc
2,Mar Del Plata,AR,3430863,-38.00,-57.56,69.80,49,0,19.46,,Gran Hotel Mar del Plata habitaciones
3,Sur,OM,286245,22.57,59.53,71.53,50,0,6.49,,Sur Plaza Hotel
4,Deori,IN,1273201,21.45,82.62,66.94,55,0,2.57,,dipak Hotal
5,Alice Springs,AU,2077895,-23.70,133.88,71.60,46,0,8.05,,Desert Palms Alice Springs
6,Raga,SS,368246,8.46,25.68,77.07,48,0,3.38,,Nearest hotel not found
7,Maun,BW,933366,-19.98,23.42,78.80,50,0,3.36,,Enviro Villa
8,Yulara,AU,6355222,-25.24,130.99,71.60,49,1,13.87,,Desert Gardens Hotel - Ayers Rock Resort
9,Una,IN,1253783,20.82,71.03,78.17,46,0,5.75,,Hotel Ghanshyam
10,Veraval,IN,1253237,20.90,70.37,80.01,58,0,3.56,,Lords Inn Somnath

In [35]:
hotels

['Lovers Point Inn',
 'Holiday Inn Express Lompoc',
 'Gran Hotel Mar del Plata habitaciones',
 'Sur Plaza Hotel',
 'dipak Hotal',
 'Desert Palms Alice Springs',
 'Nearest hotel not found',
 'Enviro Villa',
 'Desert Gardens Hotel - Ayers Rock Resort',
 'Hotel Ghanshyam',
 'Lords Inn Somnath']

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Nearest Hotels}</dd>
<dt>City</dt><dd>{city_name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_cities.iterrows()]
locations = perfect_cities[["latitude_deg", "longitude_deg"]]

In [38]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content= [f"Nearest Hotel: {hotel}" for hotel in hotels])
perfect_cities_map.add_layer(markers)

# Display figure

perfect_cities_map

Figure(layout=FigureLayout(height='420px'))